<div>
  <label>Search User: <input ng-model="search.$"></label><br />
  Add Team: Name: <input type="text" ng-model="teamName">
  <button ng-click="addTeam(teamName); teamName = null;">Add Team</button><br />
  Sort Teams by:
    <button ng-click="sortBy('+name')">Asc</button>
    <button ng-click="sortBy('-name')">Desc</button>
  <ul>
    <li ng-repeat="team in teams | orderBy:sort">
    Team: {{team.name}} <button ng-click="removeTeam(team)">X</button><br />
    Users:
    <ul>
      <li ng-repeat="user in team.users | filter:search:strict">
        {{user.first}} {{user.last}}
        <button ng-click="removeUser(team, user)">X</button>
      </li>
    </ul>
    Add user: First:
        <input type="text" ng-model="newUserFirst">
        Last:
        <input type="text" ng-model="newUserLast">
        <button ng-click="addUser(team, newUserFirst, newUserLast); newUserFirst = null; newUserLast = null;">Add</button>
    </li>
  </ul>
</div>
